# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#npm files
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#md files
dev_journey_diary.md
V2_MIGRATION_GUIDE.md
FUTURE_PLANS.md
v2_roadmap.md
mobile_audit.md
FUTURE_ROADMAP.md
dev_journey_diary_1.md

vscode_docs
antigravity_docs
